flask==2.3.2
gunicorn==21.2.0

langchain
langchain-community
anthropic
langchain-anthropic
unstructured[all-docs]       
faiss-cpu                   
pydantic
pdfplumber                 
tiktoken
opneai
